<h1 mat-dialog-title style="text-align:center;">Formulaire pour véhicule</h1><br>
<div mat-card-content>
  <mat-form-field appearance="outline">
    <mat-label style="font-size:20px;">Matricule</mat-label>
    <input matInput type="text"  name="matricule" [(ngModel)]="vehicule.matricule">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label style="font-size:16px;">Catégorie</mat-label>
    <mat-select name="type" [(ngModel)]="vehicule.types"  id="inlineFormCustomSelect">
      <mat-option>Camion</mat-option>
      <mat-option value="Tracteur Routier">Tracteur Routier</mat-option>
      <mat-option value="Véhicule légère">Véhicule légère</mat-option>
      <mat-option value="Engin de manutention">Engin de manutention</mat-option>
      <mat-option value="Tracteur de cour">Tracteur de cour</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label style="font-size:16px;">Poid </mat-label>
    <input matInput name="poid" [(ngModel)]="vehicule.poid" type="number" >
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label style="font-size:20px;">Chauffeur </mat-label>
    <input matInput name="chauffeur" [(ngModel)]="vehicule.chauffeur" type="text" class="form-control">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label style="font-size:16px;">Vitesse </mat-label>
    <input matInput name="chauffeur" [(ngModel)]="vehicule.vitesse" type="number" class="form-control">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label style="font-size:20px;">Freinage </mat-label>
    <input matInput name="chauffeur" [(ngModel)]="vehicule.freinage" type="text" class="form-control">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label style="font-size:20px;">Consommation Carbonat</mat-label>
    <input matInput name="chauffeur" [(ngModel)]="vehicule.consommation" type="text" class="form-control">
  </mat-form-field>
  
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button  id="btn2" mat-dialog-close>Fermer</button>
<button style="margin-left:8px;" mat-raised-button (click)="registervehicule()" id="btn" >Ajouter Véhicule</button>
</div>
