.formulaire{
    width: 600px;
    background-color: #E5F3F6;
    margin: 0 auto;
    opacity: 0.7;
    color: black;
    margin-top: 60px;
    padding: 20px;
    padding-bottom: 30px;
    font-size: 16px;
 
    
}
#text{
    font-size: 20px;
    font-family:cursive;
}

.bg{
    background-size: cover;
    height: 900px;
    background: url(/assets/images/coton3.jpg);

}
#btn{
    width:200px;
    height: 50px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family:cursive;
    background-color: #187486;
}
h3{
    text-align: center;
    color: #187486;
    font-weight: bold;
    font-size: 22px;
    font-family:cursive;
}
.logo-icon{
    height: 350px;
    width: 400px;
    margin-bottom: 20px;
}
.toolbarClass{
    background-color: #39ac6b;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    opacity: 0.9;
}