<mat-toolbar class="bar-menu">
    <mat-toolbar-row class="toolbar">
   
            <button mat-button  (click)="opened =! opened "><mat-icon class="icon-menu">menu</mat-icon></button>         
            <a class="nav-link" routerLink="/vehicule" id="textmodify"style="padding-left:50px;color:white;"><mat-icon>home</mat-icon>&nbsp;Home</a>
            <a class="nav-link" routerLink="/dashboard/dashboardlogistique" id="textmodify" style="padding-left:30px;color:white;">Dashboard</a>
            <a class="nav-link" routerLink="/bordereaux" id="textmodify" style="padding-left:30px;color:white;">Bordereaux</a>
            <div style="padding-left:900px;">
                    <div ngbDropdown class="nav-item dropdown ">
                        <a ngbDropdownToggle id="textmodify" class="nav-link dropdown-toggle"  id="navbarDropdown" style="color:white;font-size:20px;font-family:cursive;" role="button" data-toggle="dropdown" aria-expanded="false">
                        <img [src]="responsablelogistiquePath" style="width:35px;height:35px;"/>
                            Utilisateur
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="navbarDropdown" >
                            <a ngbDropdownItem class="dropdown-item" href="#" style="font-size:18px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                        </svg>&nbsp;&nbsp;Mon Profile </a>
                        <a ngbDropdownItem class="dropdown-item" href="#" style="font-size:18px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                        </svg>&nbsp;&nbsp;Paramétre</a>
                        <div class="dropdown-divider"></div>
                        <a ngbDropdownItem class="dropdown-item" href="#" style="font-size:18px;" (click)="logout()"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                        </svg> &nbsp;&nbsp;Déconnecter</a>
                        </div>
                    </div>
                </div>
        
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <br><br>
     <mat-list >
       <mat-list-item class="matlist">
        <a routerLink="/vehicule"  style="text-decoration:none;" >
            <div style="color:white;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-truck" viewBox="0 0 16 16">
                    <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                </svg>&nbsp;&nbsp;
                Gérer les véhicules</div>
            </a>
       </mat-list-item>
       <div class="dropdown-divider"></div>
       <mat-list-item class="matlist">
        <a routerLink="/chauffeur" style="text-decoration:none;" >
            <div style="color:white;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clipboard-data-fill" viewBox="0 0 16 16">
                    <path d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z"/>
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1ZM10 8a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V8Zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1Zm4-3a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z"/>
                </svg>&nbsp;&nbsp;
                Gérer les chauffeurs </div></a>
       </mat-list-item>
       <div class="dropdown-divider"></div>
       <mat-list-item class="matlist">
        <a routerLink="/transactions" style="text-decoration:none;">
            <div style="color:white;">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
                </svg>&nbsp;&nbsp;
            Gérer les transactions </div></a>
       </mat-list-item>
     </mat-list>
    </mat-sidenav>
    <mat-sidenav-content> 
    
    <br><br>
      <div style="margin-left:30px;color:#2c91a5;"><h1><b>Modifier votre Chauffeur</b></h1></div><br><br><br>
      <div mat-card-content>
        
        <img style="margin-left:20px;" [src]="selectedChauffeur.photo" name="photo" width="200" height="200" name="filename" /><br><br>
        <input class="form-control" id="file" name="photo" [(ngModel)]="selectedChauffeur.photo" type="file"  (change)="HandleFileInput($any($event).target.files)"  ><br>
            <div class="formgenerale">
                <h2> <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
                  </svg>&nbsp;&nbsp;Informations Génerales </h2>
                <hr class="dropdown-divider"><br><br> 
                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label for="inputPassword6" class="col-form-label"><h3><b>Nom du chauffeur</b></h3></label>
                    </div>
                    <div class="col-auto">
                      <input class="form-control" style="width:300px;"[(ngModel)]="selectedChauffeur.nom" type="text">
                    </div>
                  </div>  
                  <br>
                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label for="inputPassword6" class="col-form-label"><h3><b>Prénom du chauffeur</b></h3></label>
                    </div>
                    <div class="col-auto">
                      <input class="form-control" style="width:300px;"[(ngModel)]="selectedChauffeur.prenom" type="text">
                    </div>
                  </div>  
                  <br>
                  <div class="row g-3 align-items-center">
                    <div class="col-auto">
                      <label for="inputPassword6" class="col-form-label"><h3><b>Date de naissance</b></h3></label>
                    </div>
                    <div class="col-auto">
                      <input class="form-control" style="width:300px;" name="birthday" [(ngModel)]="selectedChauffeur.Birthday" type="date">
                    </div>
                  </div>  
                  <br>
                  
               
                </div>
                <div class="formcontact">
                    <h2><svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                      </svg> &nbsp;Contact </h2>
                    <hr class="dropdown-divider"><br><br>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                          <label for="inputPassword6" class="col-form-label"><h3><b>N du téléphone</b></h3></label>
                        </div>
                        <div class="col-auto">
                          <input class="form-control" style="width:300px;" name="phone" [(ngModel)]="selectedChauffeur.phone" type="phone">
                        </div>
                      </div>  
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                          <label for="inputPassword6" class="col-form-label"><h3><b>Adresse</b></h3></label>
                        </div>
                        <div class="col-auto">
                          <input class="form-control" style="width:300px;" name="adresse" [(ngModel)]="selectedChauffeur.adresse" type="text">
                        </div>
                    </div>  

                </div>
                <div class="formsalaire">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                          <label for="inputPassword6" class="col-form-label"><h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                            <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/>
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/>
                          </svg>&nbsp;<b>Salaire du chauffeur</b></h3></label>
                        </div>
                        <div class="col-auto">
                          <input class="form-control" style="width:300px;" name="salaire" [(ngModel)]="selectedChauffeur.salaire" type="tnumber">
                        </div>
                    </div>  
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                          <label for="inputPassword6" class="col-form-label"><h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-heading" viewBox="0 0 16 16">
                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                            <path d="M3 8.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0-5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-1z"/>
                          </svg>&nbsp;<b>Permis de conduite</b></h3></label>
                        </div>
                        <div class="col-auto">
                          <input class="form-control" style="width:300px;" name="permis"  [(ngModel)]="selectedChauffeur.permis" type="text">
                        </div>
                    </div>  
    
                </div>
     
        </div>
      <div mat-dialog-action style="text-align:center;" >
      <button  mat-raised-button  id="btn" (click)="updateChauffeur()" >
        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
          <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
        </svg>
        Modifier Chauffeur</button>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  