<div id="body">
  <mat-toolbar class="toolbarClass">
    <button mat-button disabled>
      <img class="logo-icon"  src="assets/images/CTDn.png" >       
    </button>   
  </mat-toolbar>
  <video autoplay loop id="myVideo">
    <source src="assets/images/ctdv.mp4" type="video/mp4">
  </video>

  <div fxLayoutAlign="center" fxFlexFill class="main-div" >
    <mat-card fxFlex="40" >
        <br><br><br>
      <mat-toolbar  class="welcome">Bienvenue</mat-toolbar>
      <mat-toolbar class="saisie">Veuillez saisir votre nom utilisateur et mot de passe</mat-toolbar>
      <div class="msgerreur">{{msgerreur}}</div>
      <form fxLayoutAlign="stretch" fxLayout="column" class="login-form"  [formGroup]="form" (submit)="submit()" >
        <mat-form-field [style.fontSize.px]=17>
          <div class="i"> <mat-icon>account_circle</mat-icon></div>
          <div class="x"><input matInput placeholder="Email"  required ngModel name="userEmail" formControlName="email"></div>
        </mat-form-field>
                 
        <mat-form-field [style.fontSize.px]=17 >
          <div class="i"> <mat-icon> vpn_key</mat-icon></div>
          <div class="x"><input matInput type="password" placeholder="Mot de passe"  required ngModel name="password" formControlName="password"></div>
        </mat-form-field>
        <a routerLink="/resetemail">Mot de passe oublié?</a>
        <button mat-raised-button  type="submit"  class="btn" >Se connecter </button>
          <br><br><br>
        <img class="QR"  src="assets/images/QR.png" > <br><br>
        <mat-icon class="copy">copyright<h2>PFE 2022 KHULUD ONS</h2></mat-icon>
               
      </form>
    </mat-card>
  </div>

</div>

