<app-headeradmin (toggleSideBarForMe)="sideBarToggler()"></app-headeradmin>
<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="sideBarOpen">
        <app-sidenavbaradmin> </app-sidenavbaradmin>
    </mat-sidenav>
        <mat-sidenav-content> 

            <div class="form">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label"><h3><b>Nom </b></h3></label>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="col-auto">
                        <input  type="text" style="width:300px;height:40px;"  name="nom" [(ngModel)]="selectedUsine.nom">
                    </div>
                </div>  <br>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label"><h3><b> Age </b></h3></label>
                    </div>
                    <div class="col-auto">
                        <input style="width:300px;height:40px;" name="age" [(ngModel)]="selectedUsine.age" type="date">
                    </div>
                </div>  <br>

                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label"><h3><b>Type Egreneuse</b></h3></label>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="col-auto">
                        <input style="width:300px;height:40px;" name="text" [(ngModel)]="selectedUsine.typeEgreneuse" type="typeEgreneuse">
                    </div>
                </div>  <br>

                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label"><h3><b>Nbre d'Egreneuse</b></h3></label>
                    </div>&nbsp;&nbsp;
                    <div class="col-auto">
                        <input style="width:300px;height:40px;" name="nbreEgreneuse" [(ngModel)]="selectedUsine.nbreEgreneuse" type="text">
                    </div>
                </div>  <br>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label"><h3><b>Capacité</b></h3></label>
                    </div>
                    <div class="col-auto">
                        <input style="width:300px;height:40px;" name="capacite" [(ngModel)]="selectedUsine.capacite" type="number">
                    </div>
                </div>  <br>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label"><h3><b>Personnel Permanent</b></h3></label>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="col-auto">
                        <input style="width:300px;height:40px;"  name="personnelPermanent" [(ngModel)]="selectedUsine.personnelPermanent" type="number">
                    </div>
                </div>  <br>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label"><h3><b>Personnel Saisonnier</b></h3></label>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="col-auto">
                        <input style="width:300px;height:40px;"  name="personnelSaisonnier" [(ngModel)]="selectedUsine.personnelSaisonnier" type="number">
                    </div>
                </div>  <br>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                    <label for="inputPassword6" class="col-form-label"><h3><b>Personnel Occasionnel</b></h3></label>
                    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <div class="col-auto">
                        <input style="width:300px;height:40px;"  name="personnelOccasionnel" [(ngModel)]="selectedUsine.personnelOccasionnel" type="number">
                    </div>
                </div>  <br>
            
                <img [src]="ImageUsinePath" id="image" width="500px" height="350px" >
                <div mat-dialog-action >
                    <button mat-raised-button  type="submit"  class="btn" (click)="modifierUsine()"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                    </svg>&nbsp;Modifier l'Usine</button>
                </div>
            </div>
    </mat-sidenav-content>
</mat-sidenav-container>


