<mat-toolbar class="zonepub">
    <video  autoplay loop id="myVideo">
     <source src="assets/images/coton7.mp4" type="video/mp4">
   </video>
</mat-toolbar>
  <br><br><br>
<mat-toolbar class="bar-menu">
    <mat-toolbar-row class="toolbar">
            <button mat-button  (click)="toggleSideBar()" style="padding-left:150px;"><mat-icon class="icon-menu">menu</mat-icon></button>         
            <a class="nav-link" routerLink="/admin/utilisateurs" id="textmodify"style="padding-left:50px;color:white;"><mat-icon>home</mat-icon>&nbsp;Home</a>
            <a class="nav-link" routerLink="/dashboardcozoc" id="textmodify" style="padding-left:30px;color:white;">Usine</a>

            <div style="padding-left:900px;">
                    <div ngbDropdown class="nav-item dropdown " style="margin-left:30px;">
                        <a ngbDropdownToggle  class="nav-link dropdown-toggle"  id="navbarDropdown" style="color:white;font-size:20px;font-family:cursive;" role="button" data-toggle="dropdown" aria-expanded="false">
                        <img [src]="responsablelogistiquePath" style="width:42px;height:42px;"/>
                            {{username}}
                        </a>
                        <div ngbDropdownMenu class="dropdown-menu " aria-labelledby="navbarDropdown" >
                            <a ngbDropdownItem class="dropdown-item" href="#" style="font-size:18px;" routerLink="/consulterprofile"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                            <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                        </svg>&nbsp;&nbsp;Mon Profile </a>
                        <a ngbDropdownItem class="dropdown-item" href="#" style="font-size:18px;" routerLink="/modifierprofile"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                        </svg>&nbsp;&nbsp;Modifier profile</a>
                        <div class="dropdown-divider"></div>
                        <a ngbDropdownItem class="dropdown-item"  style="font-size:18px;" (click)="logout()"  > <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                            <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                        </svg> &nbsp;&nbsp;Déconnecter</a>
                        </div>
                    </div>
                </div>
        
    </mat-toolbar-row>
  </mat-toolbar>
  
                   
 