<app-headerlogistique (toggleSideBarForMe)="sideBarToggler()"></app-headerlogistique>
<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="sideBarOpen">
        <app-sidenavbar> </app-sidenavbar>
    </mat-sidenav>
    
  <mat-sidenav-content> 
  
  <br><br>
    <h1 mat-dialog-title style="margin-left:30px;color:#187486;text-align:center;">Modifier une véhicule</h1><br>
    <div mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label style="font-size:18px;">Matricule</mat-label>
        <input matInput type="text"  name="matricule" [(ngModel)]="selectedVehicule.matricule">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label style="font-size:18px;">Catégorie</mat-label>
        <input matInput name="categorie" [(ngModel)]="selectedVehicule.types" type="text" >
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label style="font-size:18px;">Marquee</mat-label>
        <input matInput name="marque" [(ngModel)]="selectedVehicule.marque" type="text" >
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label style="font-size:18px;">Poid </mat-label>
        <input matInput name="chauffeur" [(ngModel)]="selectedVehicule.poid" type="text"  >
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label style="font-size:18px;">Vitesse </mat-label>
        <input matInput name="vitesse" [(ngModel)]="selectedVehicule.vitesse" type="text">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label style="font-size:18px;">Freinage </mat-label>
        <input matInput name="freinage" [(ngModel)]="selectedVehicule.freinage" type="text">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label style="font-size:18px;">Consommation Carbonat</mat-label>
        <input matInput name="consommation"  [(ngModel)]="selectedVehicule.consommation" type="text">
      </mat-form-field>
      
    </div>
    <div mat-dialog-action style="text-align:center;" >
    <button  mat-raised-button  class="btn" (click)="updateVehicule()" >
      <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
      </svg>
      Modifier Véhicule</button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
