<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="sideBarOpen">
        <app-sidenavproduction> </app-sidenavproduction>
    </mat-sidenav>
      <mat-sidenav-content> 
            <div>
                <h1 mat-dialog-title style="text-align:center;color:#187486;margin-top:30px;">Modifier les informations du client</h1><br><br>
                    <div mat-card-content [align]="'center'">
                        <mat-form-field appearance="outline">
                            <mat-label style="font-size:16px;">Nom</mat-label>
                            <input matInput type="text"  name="nom" [(ngModel)]="client.nom">
                          </mat-form-field><br>
                        
                          <mat-form-field appearance="outline">
                            <mat-label style="font-size:16px;">Prénom</mat-label>
                            <input matInput name="prenom" [(ngModel)]="client.prenom" type="text" >
                          </mat-form-field><br>
                        
                        
                          <mat-form-field appearance="outline">
                            <mat-label style="font-size:16px;">Adresse</mat-label>
                            <input matInput name="adresse" type="text" [(ngModel)]="client.adresse">
                          </mat-form-field><br>
                          <mat-form-field appearance="outline">
                            <mat-label style="font-size:16px;">N téléphone</mat-label>
                            <input matInput name="phone" type="phone" [(ngModel)]="client.phone">
                          </mat-form-field><br>
                          <mat-form-field appearance="outline">
                            <mat-label style="font-size:16px;">Pays</mat-label>
                            <input matInput name="pays" type="text" [(ngModel)]="client.pays">
                          </mat-form-field><br>
                          <mat-form-field appearance="outline">
                            <mat-label style="font-size:16px;">date de départ</mat-label>
                            <input matInput name="dateDeCommande" [(ngModel)]="client.dateDeCommande" type="date" >
                          </mat-form-field>
                        </div><br><br>
            
                    <div mat-dialog-action [align]="'center'">
                    
                    <button style="margin-left:8px;" mat-raised-button  id="btn" (click)="modifierClient()" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                          </svg>
                        Modifier Client</button>
                    </div>

             </div>
            
      </mat-sidenav-content>
</mat-sidenav-container>




