<app-headerpontbascule (toggleSideBarForMe)="sideBarToggler()"></app-headerpontbascule>
<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="sideBarOpen">
        <app-sidenavpontbascule> </app-sidenavpontbascule>
    </mat-sidenav>
    
  <mat-sidenav-content> 
  
  <br><br>
    <h1 mat-dialog-title style="margin-left:30px;color:#187486;text-align:center;">Modifier une ticket</h1><br>
    <div mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label style="font-size:16px;">Numéro Ticket</mat-label>
            <input matInput type="text"  name="matricule" [(ngModel)]="ticket.numeroticket" >
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline" >
            <mat-label style="font-size:14px;">Caisse</mat-label>
            <input matInput name="caisse" [(ngModel)]="ticket.caisse" type="text" >
          </mat-form-field>
        
          <mat-form-field appearance="outline" >
            <mat-label style="font-size:14px;">Véhicule Id</mat-label>
            <input matInput name="vehiculeId" [(ngModel)]="ticket.vehicule_id" type="number" >
          </mat-form-field>
        
        
          <mat-form-field appearance="outline" >
            <mat-label style="font-size:14px;">Date</mat-label>
            <input matInput name="date" [(ngModel)]="ticket.date" type="date" >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label style="font-size:14px;">Date P1</mat-label>
            <input matInput name="datep1" [(ngModel)]="ticket.dateP1" type="date" >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label style="font-size:14px;">Date P2</mat-label>
            <input matInput name="datep2" [(ngModel)]="ticket.dateP2" type="date" >
          </mat-form-field>
          <mat-form-field appearance="outline" style="width:100%">
            <mat-label style="font-size:14px;" >Peseur</mat-label>
            <input matInput name="datep2" [(ngModel)]="ticket.peseur" type="text" >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label style="font-size:14px;">poid P1</mat-label>
            <input matInput name="poidP1" [(ngModel)]="ticket.poidP1" type="number" >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label style="font-size:14px;">poid P2</mat-label>
            <input matInput name="poidP2" [(ngModel)]="ticket.poidP2" type="number">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label style="font-size:14px;">Observation</mat-label>
            <input matInput name="observation" [(ngModel)]="ticket.observation" type="text" >
          </mat-form-field>
      
    </div>
    <div mat-dialog-action style="text-align:center;" >
    <button  mat-raised-button  class="btn" (click)="modifierticket()" >
      <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
      </svg>
      Modifier Ticket</button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
