<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="sideBarOpen">
        <app-sidenavcozoc> </app-sidenavcozoc>
    </mat-sidenav>
    
  <mat-sidenav-content> 
  
  <br><br>
  <br><br>
  <h1 mat-dialog-title style="margin-left:30px;color:#187486;text-align:center;">Modifier la facture</h1><br>
  <div mat-card-content>
    <mat-form-field appearance="outline">
      <mat-label style="font-size:18px;">Numero de facture</mat-label>
      <input matInput type="number"  name="num" [(ngModel)]="selectedFacture.num">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label style="font-size:18px;">Date </mat-label>
      <input matInput name="date" [(ngModel)]="selectedFacture.date" type="date">
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label style="font-size:18px;">Quantite </mat-label>
      <input matInput name="qte" [(ngModel)]="selectedFacture.qte" type="number" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label style="font-size:18px;">Unite </mat-label>
      <input matInput name="unite" [(ngModel)]="selectedFacture.unite" type="text">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label style="font-size:18px;">Prix Unitaire </mat-label>
      <input matInput name="prixUnitaire" [(ngModel)]="selectedFacture.prixUnitaire" type="number" >
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label style="font-size:18px;">Prix Total </mat-label>
      <input matInput name="prixTotal" [(ngModel)]="selectedFacture.prixTotal" type="number" >
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label style="font-size:18px;">Nom Associat° Villageoise</mat-label>
      <input matInput name="num_AV" [(ngModel)]="selectedFacture.nom_AV" type="text" >
    </mat-form-field>

  </div>
  <div mat-dialog-action style="text-align:center;" >
  <button  mat-raised-button  id="btn" (click)="updateFacture()" >
    <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
      <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
    </svg>
    Modifier la facture</button>
  </div>

  </mat-sidenav-content>
</mat-sidenav-container>
