<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="sideBarOpen">
        <app-sidenavbar> </app-sidenavbar>
    </mat-sidenav>
      <mat-sidenav-content> 
            <div>
                <h1 mat-dialog-title style="text-align:center;color:#187486;margin-top:30px;">Modifier votre transaction</h1><br><br>
                    <div mat-card-content [align]="'center'">
                        <mat-form-field appearance="outline">
                            <mat-label style="font-size:16px;">transaction</mat-label>
                            <input matInput type="text"  name="transaction" [(ngModel)]="transaction.transaction">
                          </mat-form-field>
                        
                          <mat-form-field appearance="outline">
                            <mat-label style="font-size:16px;">Id produit</mat-label>
                            <input matInput name="produit_id" [(ngModel)]="transaction.produit_id" type="number" >
                          </mat-form-field>
                        
                        
                          <mat-form-field appearance="outline">
                            <mat-label style="font-size:16px;">Id Chauffeur</mat-label>
                            <input matInput name="Chauffeur_id" type="text" [(ngModel)]="transaction.chauffeur_id">
                          </mat-form-field>
                          <mat-form-field appearance="outline">
                            <mat-label style="font-size:16px;">Id Véhicule</mat-label>
                            <input matInput name="vehicule_id" type="text" [(ngModel)]="transaction.vehicule_id">
                          </mat-form-field>
                          <mat-form-field appearance="outline">
                            <mat-label style="font-size:16px;">date de départ</mat-label>
                            <input matInput name="datededepart" [(ngModel)]="transaction.datededepart" type="date" >
                          </mat-form-field>
                          <mat-form-field appearance="outline">
                            <mat-label style="font-size:16px;">Adresse de départ</mat-label>
                            <input matInput name="adressededepart" [(ngModel)]="transaction.adressededepart" type="text" >
                          </mat-form-field>
                          <mat-form-field appearance="outline">
                            <mat-label style="font-size:16px;">Date d'arrivé</mat-label>
                            <input matInput name="datearrive" [(ngModel)]="transaction.datearrive" type="date" >
                          </mat-form-field>
                          <mat-form-field appearance="outline">
                            <mat-label style="font-size:16px;">Adresse de destination</mat-label>
                            <input matInput name="adressededestination" [(ngModel)]="transaction.adressededestination" type="text" >
                          </mat-form-field>
                          <mat-form-field appearance="outline">
                            <mat-label style="font-size:16px;">Notes</mat-label>
                            <input matInput name="observation" [(ngModel)]="transaction.notes" type="text" >
                          </mat-form-field>
                        </div><br><br>
            
                    <div mat-dialog-action [align]="'center'">
                    
                    <button style="margin-left:8px;" mat-raised-button  id="btn" (click)="modifierTransaction()" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                          </svg>
                        Modifier Transaction</button>
                    </div>

             </div>
            
      </mat-sidenav-content>
</mat-sidenav-container>




