mat-sidenav-container{
    height: 765px;
    }
    mat-sidenav{
        width: 280px;
        background-color: #3A393C;
    }
    .icon-menu{
        color: #3A393C;
    }
    .bar-menu{
    background-color: #06a86d;
    }
    
.toolbar{
    color:white;
    font-size:22px;
    font-family:cursive;
}    
#button{
    margin-left:90px;
    width:220px;
    height:45px;
    background-color:#159397;
    color:white;
    font-size:16px;
    font-weight: bold;
    font-family:cursive;
    margin-top: -140px;
}