<app-headercgi (toggleSideBarForMe)="sideBarToggler()"></app-headercgi>
<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="sideBarOpen">
        <app-sidenavcgi> </app-sidenavcgi>
    </mat-sidenav>
        <mat-sidenav-content> 
            <div>
                  <div class="container-fluid">
                    <section class="text-right mt-3">
                      <button class="btn btn-warning" (click)="makepdf()">Télécharger en pdf</button>
                    </section>
                    <div class="card-body content" id="content" #content>
                        <h2 style="color:#06a86d;">CotonTchad SN</h2>
                        <div class="dropdown-divider"></div><br>
                        <p>Adresse : bp.1116,N'djamena,Tchad</p>
                        <p >Téléphone : 22 51 66 79</p>
                        <p >Email : cotontchad@gmail.com</p>
                        <p style="margin-left:350px">Date : <input type="text" name="total" name="date" [(ngModel)]="bordereau.date"></p>
                        <br>
                        <table class="table" style="width:470px;">
                            <thead class="bg-success" style="color:white;">
                              <tr>
                                <th scope="col">N du bordereau</th>
                                <th scope="col">Délai Livraison</th>
                                <th scope="col">Designation</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><input type="text" name="total" name="numero" [(ngModel)]="bordereau.num"></td>
                                <td><input type="text" name="total" name="date_liv" [(ngModel)]="bordereau.date_liv"></td>
                                <td><input type="text" name="total" name="designation" [(ngModel)]="bordereau.designation"></td>
                              </tr>
                            </tbody>
                        </table>
                        <br>
                        <table class="table" style="width:470px;">
                            <thead class="bg-success" style="color:white;">
                              <tr>
                                <th scope="col">Item</th>
                                <th scope="col">Description</th>
                                <th scope="col">Quantité</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td><input type="text" name="total"></td>
                                <td><input type="text" name="total"></td>
                                <td><input type="text" name="total"></td>
                              </tr>
                              <tr>
                                <td><input type="text" name="total"></td>
                                <td><input type="text" name="total"></td>
                                <td><input type="text" name="total"></td>
                              </tr>
                              <tr>
                                <td><input type="text" name="total"></td>
                                <td><input type="text" name="total"></td>
                                <td><input type="text" name="total"></td>
                              </tr>
                              <tr>
                                <td><input type="text" name="total"></td>
                                <td><input type="text" name="total"></td>
                                <td><input type="text" name="total"></td>
                              </tr>
                            </tbody>
                        </table>
                        <p>Signature : </p><br>
                        <p>Date Paie : &nbsp;<input type="text" name="date_paie" [(ngModel)]="bordereau.date_paie"></p><br>
                        <div class="dropdown-divider"></div><br>
                  </div>
                </div>
              </div>
            </mat-sidenav-content>
  </mat-sidenav-container>