<h1 mat-dialog-title style="text-align:center;">Remplir le formulaire</h1><br>
<div mat-card-content >
    <mat-label style="font-size:16px;">Image</mat-label><br>
    <img [src]="ProduitImage" name="photo" width="50" height="50" />
    
   <input class="form-control" type="file" [(ngModel)]="stock.image" (change)="HandleFileInput($any($event).target.files)"  ><br>

  <mat-form-field appearance="outline">
    <mat-label style="font-size:16px;">Réference</mat-label>
    <input matInput type="text"  name="reference" [(ngModel)]="stock.reference">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label style="font-size:16px;">Catégorie</mat-label>
    <input matInput name="categorie" [(ngModel)]="stock.categorie" type="text" >
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label style="font-size:16px;">Description</mat-label>
    <input matInput  type="text" name="Description" [(ngModel)]="stock.description">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label style="font-size:16px;">Entré</mat-label>
    <input matInput name="entre" [(ngModel)]="stock.entre" type="text" >
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label style="font-size:16px;">Sortie</mat-label>
    <input matInput name="sortie" [(ngModel)]="stock.sortie" type="text" >
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label style="font-size:16px;">Emplacement_Id</mat-label>
    <input matInput name="emplacement_id" [(ngModel)]="stock.emplacement_id" type="text" >
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label style="font-size:16px;">Mois </mat-label>
    <input matInput name="mois" [(ngModel)]="stock.mois" type="text" >
  </mat-form-field>
  
</div>
<div mat-dialog-action [align]="'end'">
  <button mat-raised-button  id="btn2" mat-dialog-close>Fermer</button>
<button style="margin-left:8px;" mat-raised-button  id="btn" (click)="registerStock()">Ajouter Produit</button>
</div>
