mat-form-field{
    width :500px;
    margin-left: 100px;
    
  }
  #btn{
    width:220px;
    height: 55px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    font-family:cursive;
    background-color: #187486;
}
mat-sidenav-container{
    height: 765px;
    }
    mat-sidenav{
        width: 280px;
        background-color: #3A393C;
    }
    .icon-menu{
        color: #3A393C;
    }
    .bar-menu{
    background-color: #06a86d;
    }
    
.toolbar{
    color:white;
    font-size:22px;
    font-family:cursive;
}    
.matlist{
    color:black;
    font-size:18px;
    font-family:cursive;
    font-weight: bold;
    
}

.vehiculetable{
    margin-top: 20px;
    padding-left: 50px;
}
#buttonvehicule{
    margin-left:800px;
    width:210px;
    height:50px;
    background-color:#159397;
    color:white;
    font-size:16px;
    font-weight: bold;
    font-family:cursive;
    margin-top: -140px;
}
.styleheader{
    font-size:16px;
    font-family:cursive;

}
mat-sidenav-container{
    height: 765px;
    }
    mat-sidenav{
        width: 280px;
        background-color: #3A393C;
    }
    .icon-menu{
        color: #3A393C;
    }
    .bar-menu{
    background-color: #06a86d;
    }
    
.toolbar{
    color:white;
    font-size:22px;
    font-family:cursive;
}    
.logo-icon{
    height: 280px;
    width: 300px;
    margin-bottom: 20px;
}
.matlist{
    color:black;
    font-size:18px;
    font-family:cursive;
    font-weight: bold;
    
}