<app-header (toggleSideBarForMe)="sideBarToggler()"></app-header>
<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="sideBarOpen">
        <app-sidenavbar> </app-sidenavbar>
    </mat-sidenav>
        <mat-sidenav-content> 
            <div>
                <h1 mat-dialog-title style="text-align:center;color:#187486;margin-top:30px;">Modifier votre Bordereau du transport</h1><br><br>
                    <div mat-card-content >
                    <mat-form-field appearance="outline">
                        <mat-label style="font-size:16px;">Numéro</mat-label>
                        <input matInput type="text"  name="numero" [(ngModel)]="bordereau.numerobordereau">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label style="font-size:16px;">Date</mat-label>
                        <input matInput name="date" [(ngModel)]="bordereau.date" type="date" >
                    </mat-form-field>


                    <mat-form-field appearance="outline">
                        <mat-label style="font-size:16px;">Lieu</mat-label>
                        <input matInput  type="text" [(ngModel)]="bordereau.lieu">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label style="font-size:16px;">Modalité paiement</mat-label>
                        <input matInput name="modalitepaiement" [(ngModel)]="bordereau.modalitepaiement" type="text" class="form-control">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label style="font-size:16px;">Modalité Livraison</mat-label>
                        <input matInput name="modalitelivraison" [(ngModel)]="bordereau.modalitelivraison" type="text" class="form-control">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label style="font-size:16px;">Date Paie</mat-label>
                        <input matInput name="datePaie" [(ngModel)]="bordereau.datePaie" type="date" class="form-control">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label style="font-size:16px;">Delai Livraison</mat-label>
                        <input matInput name="delailivraison" [(ngModel)]="bordereau.delailivraison" type="date" class="form-control">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label style="font-size:16px;">Observation</mat-label>
                        <input matInput name="observation" [(ngModel)]="bordereau.observation" type="text" class="form-control">
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label style="font-size:16px;">Taux Remise</mat-label>
                        <input matInput name="tauxremise" [(ngModel)]="bordereau.tauxremise" type="number" class="form-control">
                    </mat-form-field><br><br>
                    
                    </div>
                    <div mat-dialog-action [align]="'center'">
                    
                    <button style="margin-left:8px;" mat-raised-button  id="btn" (click)="modifierBordereau()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                            <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                          </svg>
                        Modifier Bordereau</button>
                    </div>

             </div>
            
        </mat-sidenav-content>
    </mat-sidenav-container>




