<div class="row">
    <div class="col-md-6 offset-md-3 mt-4">
        <h3>Change Password</h3>
        <form #f="ngForm"
              (ngSubmit)="changePassword()">

            <div class="form-group">
                <label for="changePassword">Mot de passe</label>
                <input type="password"
                       name="password"
                       [(ngModel)]="model.password"
                       required
                       #email="ngModel"
                       class="form-control"
                       id="changePassword"
                       placeholder="Enter New Password" >
            </div> <br><br>

            <div class="form-group">
                <label for="changePassword">Confirmer mot de passe</label>
                <input type="password"
                       name="password"
                       [(ngModel)]="model.confirmpassword"
                       required
                       #email="ngModel"
                       class="form-control"
                       id="changePassword"
                       placeholder="confirm your Password">
            </div>

            <button type="submit"
                    [disabled]="f.invalid"
                    class="btn btn-primary">Change Password <i class="fas fa-save"></i></button>
        </form>
    </div>
</div>