<div id="body">
    <mat-toolbar class="toolbarClass">
      <button mat-button disabled>
        <img class="logo-icon"  src="assets/images/CTDn.png" >       
      </button>   
    </mat-toolbar>
    <video autoplay loop id="myVideo">
      <source src="assets/images/ctdv.mp4" type="video/mp4">
    </video>
  
    <div fxLayoutAlign="center" fxFlexFill class="main-div" id="formu">
      <mat-card fxFlex="40" >
          <br><br>
        <mat-toolbar  class="welcome" style="text-align:center;">Changer votre Mot de passe</mat-toolbar>
        
        <div class="msgerreur">{{messageerreur}}</div><br>
        <form >

            <div class="form-group">
                <label >Mot de passe</label>
                <input type="password"
                       name="password"
                       [(ngModel)]="passwords.password"
                       required
                       class="form-control"
                       id="changePassword"
                       placeholder="Enter New Password" >
            </div> <br>

            <div class="form-group">
                <label >Confirmer votre mot de passe</label>
                <input type="password"
                       name="confirmpassword"
                       [(ngModel)]="passwords.confirmpassword"
                       required
                       class="form-control"
                       id="changePassword"
                       placeholder="confirm your Password">
            </div>

            
        </form><br>
        <button type="button" (click)="verifypassword()"  class="btn" >Changer votre mot de passe</button>
        
      </mat-card>
    </div>
  
  </div>
  
  